#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.read-the-docs {
    color: #888;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
}

.pagenumber {
    margin: 0 0.5em;
    padding: 0.5em;
    width: 6rem;
    height: 4rem;
    border-radius: 8px;
    background-color: #1a1a1a;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
